<div class="row">
    <div class="col-md-6">
        <div id="AfriGIS" style="height:300px;width:600px"></div>
        <button type="button" name="button" ng-click="$ctrl.showImage()">Satellite</button>
        <button type="button" name="button" ng-click="$ctrl.showDefault()">Map</button>
        <button type="button" name="button" ng-click="$ctrl.showHybrid()">Hybrid</button>
    </div>
    <div class="col-md-6">
        <div id="GoogleMap" style="height:300px;width:600px"></div>
    </div>
</div>
